{% extends "emails/base.html" %} {% block content %}
<p>Hello {{ team.manager.username }},</p>

<p>
  Your match against <strong>{{ opponent.name }}</strong> has been confirmed!
</p>

<p>Match Details:</p>
<ul>
  <li>Date: {{ match.scheduled_time|date:"F j, Y" }}</li>
  <li>Time: {{ match.scheduled_time|time:"g:i A" }}</li>
  <li>Venue: {{ match.venue.name }}</li>
  <li>Duration: {{ match.duration }} minutes</li>
</ul>

<p>Payment Method: {{ booking.payment_method }}</p>

<p>See you on the court!</p>
{% endblock %}
